body{
background: #3A6351!important;
color: #F2EDD7!important;
}
.navbar{
    background-color: #3A6351;
}
.nav-link {
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
  }
  


.carousel {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.featured {
    margin-top: 50px;
}
.featruedHr{
    border: 2px solid #f2edd744  ;
}
.featuredButton{
    background-color: #E48257;
    height: 40px;
    width: 200px;
}
.featuredButton:hover{
    transform: scale(1.05);
    transition: 300ms ;
    box-shadow: 0 0 10px #f2edd769;
}

.popup {
    display: block;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: rgb(187, 185, 185);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    height: 50%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* .touchWithUs{
    background-color: aquamarine;
    margin-top: 3rem;
    height: 200px;
} */

.marketing{
    margin-top: 3rem;
    text-align: center;
}


@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.owrWorks {
    background: linear-gradient(to right, #102501, #04580b, #abc70b, #2f7e33, #078148, #00ffcb 200%);
    background-size: 200% auto;
    animation: gradientAnimation  20s ease-in-out infinite;
    width: 100%;
    height: 25rem;
    margin-top: 3rem;

}
.owrWorksContent {
    margin-left: 20%;
    padding-top: 2rem;
    
}
.portfolio{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 3rem;
}
.portfolioimg{
    height: 400px;
    width: 400px;
    border-radius: 15% 2% 15% 2%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 3px groove rgba(230, 12, 12, 0.137);
    
}
.fp{
    padding: 1.5rem;
}
.sp{
    padding: 1.5rem;
}
footer{
    text-align: center;
    background-color: #3A6351;
    padding-bottom: 5%;
}
.footerMotiv{
    font-size: 30px;
    padding: 1rem;
    font-style: italic;
}
.footerMotiv:hover{
    font-size: 32px;
    transition: 0.5s ;
}
.getInTouch{
    font-size: 30px;

}
.hr{
    width: 80%;
    border: 5px solid rgba(0,0,0,.1);
}
.icons:hover{
    transform: scale(1.5);
    transition: 2s;
}

.bi{
    font-size:30px ;
    padding: 1rem;
}
.bi-facebook{
    color: rgb(255, 255, 255);
}

.bi-instagram{
    color: rgb(255, 255, 255);
}
.bi-youtube{
    color: rgb(255, 255, 255);
}
.bi-twitter{
    color: rgb(255, 255, 255);
}
.address{
    text-align: left;
    margin-left: 34%;
}
.footeraddresshr{
   
    border: 2px solid #F2EDD7;
}